@model IEnumerable<DoAn.Models.SanPham>

@{
    ViewData["Title"] = "DSSP";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var listsp = ViewBag.ListSP;
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Sản phẩm</h1>
                    <ol class="breadcrumb">
                        <li><a asp-action="Index">Trang chủ</a></li>
                        <li class="active">sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section">
    <div class="container">
        <div class="row">
            @foreach (SanPham item in listsp)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="~/user/images/shop/products/@item.HinhAnh" alt="product-img" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a asp-action="CTSP" asp-route-id="@item.Id">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="themgiohang" asp-route-id="@item.Id" asp-controller="Home"><i class="tf-ion-android-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.html">@item.TenSp</a></h4>
                            <p class="price">@item.Dongia₫</p>
                        </div>
                    </div>
                </div>
            }
            <div class="text-center">
                <ul class="pagination post-pagination">
                    <li>
                        <a href="blog-left-sidebar.html">Prev</a>
                    </li>
                    <li class="active">
                        <a href="blog-left-sidebar.html">1</a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">2</a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">3</a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">4</a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">5</a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>