@model IEnumerable<DoAn.Models.SanPham>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var listsp = ViewBag.ListSP;

    if (ViewBag.tendangnhap != null)
    {
        ViewData["TenTK"] = ViewBag.tendangnhap;

    }
    else
    {
        ViewData["TenTK"] = "Account";
    }
}

<div class="banner">
    <img src="~/user/images/slider/slider-1.jpg" alt="" width="100%" />
</div>
<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Danh mục</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="#!">
                        <img src="~/user/images/shop/category/Ao.png" alt="" />
                        <div class="content">
                            
                            @*<p>Shop New Season Clothing</p>*@
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#!">
                        <img src="~/user/images/shop/category/Aokhoac.png" alt="" />
                        <div class="content">
                            
                            @*<p>Get Wide Range Selection</p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="#!">
                        <img src="~/user/images/shop/category/Quan.png" alt="" />
                        <div class="content">
                            
                            @*<p>Shop New Season Clothing</p>*@
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="#!">
                        <img src="~/user/images/shop/category/giay.jpg" alt="" />
                        <div class="content">
                            <h2>Giày</h2>
                            @*<p>Get Wide Range Selection</p>*@
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Sản phẩm</h2>
            </div>
        </div>
        <div class="row">
            @foreach (SanPham item in listsp)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="~/user/images/shop/products/@item.HinhAnh" alt="product-img" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a asp-action="CTSP" asp-route-id="@item.Id">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="themgiohang" asp-route-id="@item.Id" asp-controller="Home"><i class="tf-ion-android-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.html">@item.TenSp</a></h4>
                            <p class="price">@item.Dongia₫</p>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>

