

@model DoAn.Models.HoaDon


@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var listgh = ViewBag.ListGH;
    TaiKhoan acc = ViewBag.Account;
    
}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh toán</h1>
                    <ol class="breadcrumb">
                        <li><a asp-action="Index">Trang chủ</a></li>
                        <li class="active">thanh toán</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Pay" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Địa chỉ giao hàng</label>
                <input asp-for="ThongTinNguoiNhan" class="form-control" value="@acc.DiaChi" />
                <span asp-validation-for="ThongTinNguoiNhan" class="text-danger"></span>
            </div>
            <div class="mb-3">Tổng tiền: @ViewBag.CartsTotal.ToString("#,##0") VNĐ</div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Xác nhận</button>
                <span>@ViewBag.ErrorMessage</span>
            </div>
        </form>
    </div>
</div>
<hr />

