@model DoAn.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Edit</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TaiKhoanId" class="control-label"></label>
                <select asp-for="TaiKhoanId" class="form-control" asp-items="ViewBag.TaiKhoanId"></select>
                <span asp-validation-for="TaiKhoanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayLapHD" class="control-label"></label>
                <input asp-for="NgayLapHD" class="form-control" />
                <span asp-validation-for="NgayLapHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGiaoHang" class="control-label"></label>
                <input asp-for="NgayGiaoHang" class="form-control" />
                <span asp-validation-for="NgayGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiHD" class="control-label"></label>
                <input asp-for="LoaiHD" class="form-control" />
                <span asp-validation-for="LoaiHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongTinNguoiNhan" class="control-label"></label>
                <input asp-for="ThongTinNguoiNhan" class="form-control" />
                <span asp-validation-for="ThongTinNguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TinhTrang" /> @Html.DisplayNameFor(model => model.TinhTrang)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

