
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DoAn.Models.TaiKhoan
<form asp-controller="TaiKhoans" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="TenDangNhap"></label>
        <input asp-for="TenDangNhap" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MatKHau"></label>
        <input asp-for="MatKHau" class="form-control" type="password"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
    <p>@ViewBag.ErroMessage</p>
</form>
